*.PNG
*.png
*.jpg
*.bib
*.xlsx
*.xls
*.JPG
*.pdf
*.nja
*.pyc
*.so
*.c
/paper
*.zip
*.doc
*.docx
/cache
/data
/report
/dist
/build
/data/model
/images
/html
/src/ocropy-layout/build
/src/ocropy_update/build
/build
src/ocropy/build
/.idea
/.idea/*
/.idea/*/*
/src/ocropy/ocrolib/hwocr/data
/src/ocropy/ocrolib/hwocr/gallery
/src/ocropy/ocrolib/hwocr/save
/src/ocropy/ocrolib/hwocr/test_images
/src/ocropy/ocrolib/hwocr/tmp
/src/ocropy/ocrolib/hwocr/report
/ocrolib/hwocr/data
/ocrolib/hwocr/gallery
/ocrolib/hwocr/save
/ocrolib/hwocr/test_images
/ocrolib/hwocr/tmp
/ocrolib/hwocr/report
/ocrolib/hwocr/seed_new_labels
tests/
OLD
JUNK
book/
temp/
/src/ocropy/build/
.pynative
*.pyc
*~
*.o
*.os
*.a
*.so
.~*.vue
doc/.ipynb_checkpoints/
*.swp
*ropeproject*

settings.py
.vscode
bprost/tmp
