<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Origin key</th>
    <th>OCR key</th>
    <th>Value</th>
  </tr>
  {% for origin_key, value in key_value.items %}
    {% for v in value %}
  <tr>
      {% if forloop.first %}
    <td>{{ origin_key }}</td>
      {% else %}
    <td></td>
      {% endif %}
    <td>{{ v.key }}</td>
    {% if v.value|length > 1 %}
    <td>{{ v.value|join:" | " }}</td>
    {% else %}
    <td>{{ v.value.0 }}</td>
    {% endif %}
  </tr>
    {% endfor %}
  {% endfor %}
</table>

</body>
</html>